<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> PROYECTO CODER </title>
</head>
<body>
    

    <h1> Bienvenid@s a mi web</h1>

    <p> Este es mi pequeño proyecto </p>
    <p> Hola {{ nombre }} {{ apellido }} </p>
    <p> Fecha: {{ fecha }} </p>
    <p> Edad: {{ edad }} </p>

    <img 
    style=" max-width: 300px;"
    src= "https://www.pexels.com/photo/colorful-dragon-hanging-in-alley-5967786/" 
    alt=""  
    />

    <script>
        alert("Hola Mundo")
    </script>


</body>
</html>